<launch>

  <!--- Run WPR1 normal -->
  <include file="$(find wpr1_bringup)/launch/normal.launch" />

  <!-- Run wpr1_follow node -->
  <node name="wpr1_follow_server" pkg="wpr1_behaviors" type="wpr1_follow_server"  output="screen">
    <param name="start" type="bool" value="true"/> 
  </node>

  <!-- Rviz -->
  <arg name="model" default="$(find wpr1_bringup)/urdf/wpr1.urdf"/>
  <arg name="gui" default="true" />
  <arg name="rvizconfig" default="$(find wpr1_tutorials)/rviz/follow.rviz" />
  <param name="robot_description" command="$(find xacro)/xacro.py $(arg model)" />
  <param name="use_gui" value="$(arg gui)"/>
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" required="true" />

</launch>
