<launch>

  <!--- Run WPR1 normal -->
  <include file="$(find wpr1_bringup)/launch/normal.launch" />

  <!-- Run wpr1_pass node -->
  <node name="wpr1_pass_server" pkg="wpr1_behaviors" type="wpr1_pass_server"  output="screen">
    <param name="start" type="bool" value="true"/> 
  </node>

</launch>
