<launch>
  
  <!--- Run WPR1 Normal -->
  <include file="$(find wpr1_bringup)/launch/normal.launch" />

  <!--- Run Face Detect -->
  <arg name="face_cascade_file" default="$(find wpr1_tutorials)/config/haarcascade_frontalface_alt.xml" />
  <node name="wpr1_face_detect" pkg="wpr1_tutorials" type="wpr1_face_detect" output="screen">
    <param name="face_cascade_name" value="$(arg face_cascade_file)"/>
  </node>

</launch>
