<launch>

  <arg name="model" default="$(find wpr1_bringup)/urdf/wpr1.urdf"/>
  <param name="robot_description" command="$(find xacro)/xacro.py $(arg model)" />
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />

  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" >
    <rosparam command="load" file="$(find wpr1_bringup)/config/wpr1_zeros.yaml" />
  </node>
  
  <!--- Run Kinect -->
  <include file="$(find kinect2_bridge)/launch/kinect2_bridge.launch" />

</launch>
