<launch>

  <!-- RViz -->
  <arg name="gui" default="true" />
  <arg name="rvizconfig" default="$(find wpr1_tutorials)/rviz/slam.rviz" />
  <param name="use_gui" value="$(arg gui)"/>
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" required="true" />

  <!-- Joy Node -->
  <node respawn="true" pkg="joy" type="joy_node" name="wpr1_joy" >
    <param name="dev" type="string" value="/dev/input/js0" />
    <param name="deadzone" value="0.12" />
  </node>

  <!-- Axes Velcmd -->
  <param name="axis_linear" value="1" type="int"/>
  <param name="axis_angular" value="0" type="int"/>
  <param name="scale_linear" value="0.2" type="double"/>
  <param name="scale_angular" value="1" type="double"/>
  <node pkg="wpr1_bringup" type="wpr1_js_velcmd" name="teleop"/>

</launch>
