# udev rule for wpr1
#
#KERNEL=="ttyUSB*", ATTRS{idVendor}=="0403", ATTRS{idProduct}=="6001", MODE:="0777", SYMLINK+="ftdi"
#udevadm info -a /dev/ttyUSB0 |  grep 'KERNELS'
KERNEL=="ttyUSB*", KERNELS=="1-10", MODE:="0777", SYMLINK+="wpr1_imu"
KERNEL=="ttyUSB*", KERNELS=="1-9", MODE:="0777", SYMLINK+="wpr1_base"
KERNEL=="ttyUSB*", KERNELS=="1-7", MODE:="0777", SYMLINK+="wpr1_mani"

